* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #19191B;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

nav .container {
    display: flex;
    align-items: center;
    margin-top: 20px;



}
.bar-box {
    
    display: flex;
    flex-direction: column;

    

}

.bar-sec {
    width: 30px;
    height: 6px;
    background-color: rgb(119, 118, 116);
    margin: 2px 0px;
    border-radius: 3px;
}

.later {
    display: none;
}

.nav-list {
    display: flex;
    margin-left: 350px;
}

.nav-item {
    margin-left: 25px;
}

.nav-get-link {
    width: 140px;
    text-decoration: none;
    margin-left: auto;
    padding: 15px 13px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #FFFFFF;
    background-color: #F04037;
    border: 1px solid #C31A12;
    border-radius: 5px;
}

.nav-get-link:hover {
    text-decoration: underline;
}

.nav-link {
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    letter-spacing: -0.500211px;
    color: white;
    text-decoration: none;

}

.nav-link:hover {
    color: #F04037;
}

.nav-title {
    color: white;
    font-size: 24px;
}

.demos-link {
    color: #F04037;
}

main .container {

    display: flex;
    margin-top: 120px;
    justify-content: space-between;
}

.main-info {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-top: 50px;
}


.main-email {
    position: relative;
    width: 45%;
    background-image: url(./img/Oval.png);
    background-repeat: no-repeat;
    background-size: contain;


}

.main-email::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    background-image: url(./img/OvalCopy.png);
    bottom: 390px;
    left: 10px;
}


.main-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    width: 350px;
    height: 480px;
    margin-left: 60px;
    background: #FFFFFF;
    box-shadow: 0px 42px 54px rgba(0, 0, 0, 0.788926);
    border-radius: 10px;


}

.main-info-title {
    font-size: 60px;
    line-height: 84px;
    letter-spacing: -2.50105px;
    color: #FFFFFF;
}

.main-info-text {
    padding-top: 20px;
    font-size: 19px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.7);
}

.form-label {
    display: flex;


}

.first-label {
    display: flex;
    flex-direction: column;

}

.main-input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    font-family: inherit;
    margin-bottom: 20px;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;

}

.second-label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-form-title {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.562737px;
    color: #696871;
    text-align: center;
    margin-bottom: 10px;
}

.get-beta {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 300px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #F04037;
    border: 1px solid #C31A12;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 500;

}

.video-section {
    background-image: url(./img/yellow.png);
    background-repeat: no-repeat;
    padding-top: 200px;

}

.watch-video-box {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    outline: none;
    border: none;
    border-radius: 50%;
}

.play-icon {
  
    width: 70px;
}

.main-second-title {
    font-size: 54px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #FFFFFF;
    margin-top: 40px;
}


.main-paragraph {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.7);
    margin: 20px 0px;
}





.advantage-list {
    margin-top: 100px;
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages-section {
    padding-bottom: 100px;
}

.advantage-item {
    width: 30%;
    margin-bottom: 80px;
    text-align: center;
}

.advantage-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.750316px;
    color: #FFFFFF;
    padding: 20px 0px 15px 0px;
}

.advantage-text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: rgba(255, 255, 255, 0.7);
}

.drag-drop-box {
    display: flex;
    position: relative;
    margin-top: 100px;

}

.drag-img-box::before {
    position: absolute;
    content: "";
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(23, 4, 100, 0.4);
    bottom: 280px;
}

.oval-image {
    width: 445px;
    height: 445px;
}

.drag-info-box {
    margin-top: 50px;
    margin-left: 120px;

}

.new {
    display: inline-block;
    padding: 8px 14px;
    background: #5454D4;
    border-radius: 5px;
    color: white;
}

.drag-info-title {
    font-size: 54px;
    line-height: 60px;
    letter-spacing: -1.87579px;
    color: #FFFFFF;
    margin: 30px 0px;

}

.drag-info-text {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.7);
}

.creation-image-section {
    display: flex;

}

.first-image {
    width: 380px;
    height: 515px;
}

.second-image {
    width: 730px;
    height: 515px;
}

.creation-section {
    background-color: #1E1E20;
    padding-top: 100px;
    text-align: center;
    padding-bottom: 70px;
}

.creation-title {
    font-size: 54px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #FFFFFF;

}

.creation-text {
    padding: 30px 0px;
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.7);
}

.users-section .container {
    display: flex;
    flex-direction: row;
    padding-top: 80px;

}


.family {
    width: 445px;
    height: 445px;

}

.users-title {
    font-size: 54px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #FFFFFF;

}

.users-text {
    font-size: 21px;
    padding: 30px 0px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.7);
}

.users-link {
    margin-top: 15px;
    padding: 20px 30px;
    text-decoration: none;
    background: #F04037;
    border: 1px solid #C31A12;
    border-radius: 5px;
    color: white;
}

.users-link:hover {
    text-decoration: underline;
}

.users-image-section {
    position: relative;
    margin-left: 50px;
}

.users-image-section::after {
    position: absolute;
    content: "";
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(48, 44, 6, 0.4);
    bottom: 10px;
    left: 170px;
}

.questions {
    padding-top: 160px;
    padding-bottom: 100px;
}

.questions-title {
    font-size: 54px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #FFFFFF;

}

.questions-info {
    padding: 20px 0px 60px 0px;
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.7);

}

.question-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.question-item {
    width: 48%;
}

.question-name {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #FFFFFF;

}

.question-text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: rgba(255, 255, 255, 0.7);
    padding: 30px 0px 50px 0px;

}

.question-link {
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 440px;

}

.contact {
    color: red;
}

.question-link:hover {
    text-decoration: underline;
}

.beta-acsess-section {
    position: relative;
    background-color: #1E1E20;
    padding: 80px 0px 185px 0px;
    background-image: url(./img/lastoval.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    overflow: hidden;


}

.beta-acsess-section::before {
    position: absolute;
    content: "";
    display: block;
    width: 341px;
    height: 341px;
    border-radius: 50%;
    background-color: #FEDC5A;
    bottom: -250px;
    left: -100px;
}


.beta-acsess-section .container {
    display: flex;
    align-items: center;

}

.beta-title {
    font-size: 54px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #FFFFFF;

}

.beta-link {
    margin-left: 300px;
    margin-top: 15px;
    padding: 20px 30px;
    text-decoration: none;
    background: #F04037;
    border: 1px solid #C31A12;
    border-radius: 5px;
    color: white;
}

.beta-link:hover {
    text-decoration: underline;
}


footer .container {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-list {
    display: flex;
    margin-left: 200px;
}

.footer-item {
    margin: 0px 10px;
}

.footer-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-name {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #FFFFFF;

}

.footer-text {
    margin-left: auto;
    font-size: 16px;
    line-height: 38px;
    text-align: right;
    letter-spacing: -0.500211px;
    color: rgba(255, 255, 255, 0.7);
}



@media (max-width:1160px) {
    .container {
        width: 1000px;
    }
}


@media (max-width:1020px) {
    .container {
        width: 900px;
        padding-left: 30px;
    }


    .play-icon {
        left: 580px;
    }

    .main-email {
        background-image: none;
    }

    .video-section .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .beta-link {
        margin-left: 150px;
    }

  .beta-acsess-section {
        background-image: none;
    }
}



@media (max-width:920px) {
    .container {
        width: 800px;
        padding-left: 30px;
    }

    .nav-list {
        margin-left: 100px;
    }

    .main-info-title {
        text-align: center;
        font-size: 48px;
    }

    .main-info-text {
        text-align: center;
    }

    .video-img {
        width: 750px;
    }

    .play-icon {
        position: absolute;
        top: 70%;
        left: 54%;
    }

    .drag-info-text {
        text-align: center;
    }

    .drag-info-title {
        font-size: 48px;
        text-align: center;
    }

    .drag-info-box {
        width: 50%;
    }

    .oval-image {
        width: 320px;
        height: 320px;
    }

    .first-image {
        width: 260px;
        height: 400px;
    }

    .second-image {
        width: 480px;
        height: 400px;
    }

    .users-image-section::after {
        display: none;
    }

    .users-info-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .family {
        width: 320px;
        height: 320px;
    }

    .users-title {
        text-align: center;
    }

    .users-text {
        text-align: center;
    }

    .footer .container {
        padding-left: 20px;
    }

    .footer-list {
        margin-left: 30px;
    }

    .beta-link {
        margin-left: 40px;
    }
}


@media (max-width:820px) {
    .container {
        width: 700px;
        padding-left: 30px;
    }

    .main-form {
        margin-left: 10px;
    }

   
}

@media (max-width:720px) {
    .container {
        width: 600px;
      
    }

    .nav-list {
        display: none;
    }

    .nav-get-link {
        display: none;
    }

    .later {
        display: block;
        margin-left: 400px;
    }


    .main .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main-info {
        width: 100%;
    }

    .main-email {
       margin: 30px 200px 0px auto;
        
    }

    .video-img {
        width: 95%;
    }

    .play-icon {
        display: none;
    }

    .advantage-list {
        margin-left: 20px;
    }

    .advantage-item {
        width: 45%;
    }

    .advantages-section .container {
        padding: 10px;
    }

    .drag-drop-box {
        flex-direction: column;
        align-items: center;
        
    }

    .drag-info-box {
        width: 100%;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   .drag-img-box::before {
       bottom: 50%;
   }


   .creation-section  .container {
       display: flex;
       flex-direction: column-reverse;
       align-items: center;
   }

   .first-image {
       width: 180px;
       height: 300px;
   }

   .second-image {
       width: 360px;
       height: 300px;
   }

   .creation-title, .users-title, .questions-title {
       font-size: 46px;
   }

   .creation-text, .users-text, .questions-info {
       font-size: 18px;
   }

   .users-section .container {
       display: flex;
       flex-direction: column-reverse;
       align-items: center;
   }

   .question-list {
       align-items: center;
   }

   .question-item {
       width: 80%;
   }

   .question-link {
       margin-left: 120px;
   }


   .beta-acsess-section .container {
       display: flex;
       flex-direction: column;
       align-items: center;
   }


   .beta-title {
       text-align: center;
       font-size: 46px;
       margin-bottom: 20px;
   }

   .footer .container {
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .footer-list {
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .footer-text {
       margin-left: 0px;
       text-align: center;
   }
}

@media (max-width:620px) {
    .container {
        width: 500px;
      
    }

    .later {
        margin-left: 330px;
    }

}

@media (max-width:520px) {
    .container {
        width: 90%;
      
    }

    .later {
        margin-left: 160px;
    }

    .advantage-item {
        width: 80%;
    }

    .new {
        margin-top: 70px;
    }

    .first-image {
        width: 100px;
        height: 200px;
    }

    .second-image {
        width: 260px;
        height: 200px;
    }

    .main .container {
        padding-left: 10px;
        margin-left: 0px;
    }

    .main-email {
        width: 70%;
        padding-left: 0px;
        margin-left: 0px;
    }

    .main-second-title, .main-info-title, .drag-info-title, .creation-title, .users-title, .questions-title, .beta-title {
        font-size: 36px;
    }

    .questions .container {
        padding-left: 10px;
    }


}